@page "/calendar"
@inherits ComponentBase

<TitleBlock Title="Calendar Test" />

<TwoColumns>
	<Left>
        <div class="is-sticky is-sticky-top">

            <Panel class="pt-2 mb-0 is-size-7" Title="Actions">
                <div class="field">
                    <label class="label is-size-6">Select Appointment Date & Time</label>
                    <div class="control has-icons-left has-icons-right">
                        <InputDateTime @bind-Value="SelectedDate" StartOfWeek="StartOfWeek" />
                    </div>
                </div>

                <div class="buttons has-addons is-fullwidth my-1">
                    <button class="button is-info" title="Go to previous month" @onclick="() => ChangeMonth(false)">
                        <span class="material-icons icon">skip_previous</span>
                    </button>
                    <button class="button is-expanded" title="Jump to today" @onclick="() => SelectedDate = DateTime.Today">Today</button>
                    <button class="button is-info" title="Go to next month" @onclick="() => ChangeMonth(true)">
                        <span class="material-icons icon">skip_next</span>
                    </button>
                </div>

                <div class="buttons">
                    <button class="button is-primary" title="Add appointment to selected date" @onclick="AddAppointment">Add Appointment</button>
                    <button class="button" title="Add appointment to random date in current month" @onclick="AddRandomAppointment">Add Random Appointment</button>
                    <button class="button is-danger" title="Remove all appointments" @onclick="ClearAll">Clear</button>
                </div>
            </Panel>

			<Panel class="pt-2 mb-0 is-size-7" Title="Column Class Override">
				<div class="field">
					<label class="label is-size-6">Select Calendar Layout</label>
					<div class="control has-icons-left is-expanded">
						<InputSelectObject class="is-fullwidth" @bind-Value="SelectedColumnClass" DisplayValue="x => ColumnClassPresetLookup[x].Label" Items="ColumnClassPresets.Select(x => x.Value).ToList()" />
					</div>
					<p class="help">@ColumnClassPresetLookup[SelectedColumnClass].Tooltip</p>
				</div>
			</Panel>

			<Panel class="pt-2 mb-0 is-size-7" Title="Click Events">
				<Level class="is-flex is-flex-direction-column is-size-5" style="gap: 0.5rem;">
					<LevelItem class="has-text-centered" Heading="Month Title Clicks" Title="@MonthHeaderClickCount.ToString()" />
					<LevelItem class="has-text-centered" Heading="Weekday Header Clicks" Title="@WeekdayHeaderClickCount.ToString()" />
					<LevelItem class="has-text-centered" Heading="Last Month Clicked" Title="@(LastMonthHeaderClicked?.ToString("Y") ?? "None")" />
					<LevelItem class="has-text-centered" Heading="Last Weekday Clicked" Title="@(LastWeekdayHeaderClicked?.ToString("dddd") ?? "None")" />
				</Level>
			</Panel>
        </div>
    </Left>
	<Right>
		<Calendar column-class="@SelectedColumnClass" Months="Months.OrderBy(x => x).ToList()" OnMonthTitleClicked="HandleMonthHeaderClicked" OnWeekdayHeaderClicked="HandleWeekdayHeaderClicked">
			<Days>
				<td>
					<div>
						@context.Day
					</div>

					@foreach (var appointment in Appointments.OrderBy(x => x.Date).ToList())
					{
						@if (appointment.Date.Year == context.Year && appointment.Date.Day == context.Day && appointment.Date.Month == context.Month)
						{
							<span class="@GetTagClass(appointment.Color)">@appointment.Date.ToString("t")</span>
							<span class="ml-2 is-size-7">@appointment.Title</span>
						}
					}
				</td>
			</Days>
		</Calendar>
	</Right>
</TwoColumns>
