@namespace easy_blazor_bulma
@typeparam TValue
@inherits ComponentBase

<label class="@MainCssClass" for="@ForInputId" @attributes='AdditionalAttributes.GetFilteredAttributes(Filter)'>
	@if (Icon != null)
	{
		<span class="material-icons icon is-left">@Icon</span>
	}
	<span class="@TooltipCssClass" data-tooltip="@Tooltip">@DisplayText</span>
</label>
