@page "/masonry"
@inherits ComponentBase

<TitleBlock Title="Masonry Test" />

<div class="container pt-3">
	<Panel Title="Masonry + Optional Infinite Scroll" Color="BulmaColors.Blue">
        <Level class="mb-3">
            <LevelItem class="is-justify-content-flex-start">
                <div class="buttons">
					<button class="button is-info" title="Recalculate item positions" @onclick="RefreshLayout" disabled="@IsBusy">Refresh Layout</button>
                </div>
            </LevelItem>

            <LevelItem class="is-justify-content-flex-end">
                <InputSwitch @bind-Value="UseInfiniteScroll" Label="Infinite Scroll" IsBoxed="false" />
            </LevelItem>
        </Level>

		<MasonryInfiniteScroll OnLoadMore="@LoadMore" IsEnabled="@UseInfiniteScroll" IsBusy="@IsBusy">
			<Masonry @ref="_masonry" ColumnWidth="240" Gutter="12" PercentPosition="true">
				@foreach (var tile in Tiles)
				{
					<MasonryItem style="width:240px;">
						<div class="box p-2">
							<figure class="image mb-2" style="overflow:hidden; border-radius:0.5rem;">
								<img src="@tile.ImageUrl" alt="@tile.Title" style="width:100%;height:auto;display:block;" loading="lazy" @onload="OnImageLoaded" />
							</figure>
							<p class="title is-6 mb-1">@tile.Title</p>
							<p class="is-size-7">@tile.Description</p>
						</div>
					</MasonryItem>
				}
			</Masonry>
		</MasonryInfiniteScroll>

		@if (UseInfiniteScroll == false)
		{
			<div class="has-text-centered mt-4">
				<button class="button is-primary" @onclick="LoadMore" disabled="@IsBusy">Load More</button>
				@if (IsBusy)
				{
					<p class="is-size-7 has-text-grey mt-2">Loading more...</p>
				}
			</div>
		}
		else if (IsBusy)
		{
			<p class="is-size-7 has-text-grey mt-3 has-text-centered">Loading more...</p>
		}
	</Panel>
</div>
